* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Dancing Script";
  /* font-weight: 500;
  font-style: normal; */
}
.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.about-img img {
  object-fit: cover;
  width: 77%;
  height: 378px;
}
.card-image img {
  object-fit: cover;
  min-width: 50%;
  max-height: 200px;
}
.card-image2 img {
  object-fit: cover;
  min-width: 50%;
  max-height: 200px;
}
.card-image3 img {
  object-fit: cover;
  min-width: 50%;
  max-height: 200px;
}
.contact-img img {
  object-fit: cover;
  height: 22rem;
  width: 80%;
}
